@model IEnumerable<Poshta.Models.PACKAGE>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<h3>Пакування</h3>
<p>
    <a class="btn btn-success" href="/PACKAGEs1/Create">Створити нове пакування</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StanP.stan_p)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.package_info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p_width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p_length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p_height)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StanP.stan_p)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.package_info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_height)
                </td>
                <td>
                    <a class="btn btn-success" href="/PACKAGEs1/Edit/@item.id_package">Редагувати</a>
                    <a class="btn btn-danger" href="/PACKAGEs1/Delete/@item.id_package">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Стан</th>
            <th>Опис</th>
            <th>Вартість</th>
            <th>Ширина</th>
            <th>Довжина</th>
            <th>Висота</th>
        </tr>
    </tfoot>
</table>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                "language": {
                    "decimal": "",
                    "emptyTable": "У таблиці відсутні дані",
                    "info": "Показано від _START_ до _END_ із _TOTAL_ записів",
                    "infoEmpty": "Показано 0 до 0 з 0 записів",
                    "infoFiltered": "(відфільтровано з _MAX_ загальної кількості записів)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Показати _MENU_ записів",
                    "loadingRecords": "Завантаження...",
                    "processing": "Обробка...",
                    "search": "Пошук:",
                    "zeroRecords": "Відповідних записів не знайдено",
                    "paginate": {
                        "first": "Перший",
                        "last": "Останній",
                        "next": "Наступний",
                        "previous": "Попередній"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                }
            });
        });
    </script>
}